/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter";
}

#Mupi{
    position: relative;
    width: 859px;
    height: 1253px;
    background-color: #DE0000;
    margin: auto;
}

button{
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 10px;
    position: absolute;
    width: 316px;
    height: 109px;
    left: 220px;
    top: 950px;
    background: #DE0000;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'A-OTF Shin Go Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    border: none;
    transition-duration: 0.4s;
}

button:hover{
    transition-duration: 0.1s;
    opacity: 0.6;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #DE0000;
}

button:active:after {
    box-shadow: 0 0 0 0 #DE0000;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

/* Screens */

#Home{
    display: block;
}

#Connected{
    display: none;
}

#Game{
    display: none;
}

#Gameover{
    display: none;
}

#Disconnect{
    display: none;
}

/* Home */

    #NubesFront{
        position: absolute;
        width: 446px;
        height: 231px;
        left: 0px;
        top: 1022px;
        z-index: 1;
    }

    #NubesBack{
        position: absolute;
        width: 805px;
        height: 271px;
        right: 0px;
        bottom: 0px;
    }

    #NintendoLogo{
        position: absolute;
        width: 85px;
        height: 87px;
        left: 387px;
        top: 36px;
    }

    #titleHome{
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        width: 398px;
        height: 48px;
        left: 230px;
        top: 143px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    #descriptionHome{
        font-weight: 400;
        font-size: 24px;
        position: absolute;
        width: 677px;
        height: 58px;
        left: 91px;
        top: 219px;
        text-align: center;
    }

    #QR{
        
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(6px);
        position: absolute;
        width: 380px;
        height: 380px;
        left: 239px;
        top: 317px;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        opacity: 0.8;
        z-index: 1;
    }

    #backgroundImage{
        position: absolute;
        width: 766px;
        height: 559px;
        left: 48px;
        top: 671px;
    }

/* Mupi connected */

    #Modal{
        position: absolute;
        width: 754px;
        height: 1146px;
        left: 52px;
        top: 54px;
        opacity: 0.95;
        background: rgba(255, 255, 255, 0.95);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .textScreen{
            display: flex;
            justify-content: center;
        }

            #titleConnected{
                position: absolute;
                width: 700px;
                height: 254px;
                left: 30px;
                top: 164px;
                font-family: 'A-OTF Shin Go Pro';
                font-weight: 600;
                font-size: 64px;
                line-height: 80px;
                text-align: center;
                color: #DE0000;
            }

                #CheckIcon{
                    position: absolute;
                    width: 51px;
                    height: 51px;
                    left: 620px;
                    top: 270px;
                }

            #descriptionConnected{
                position: absolute;
                width: 504px;
                height: 22px;
                left: 130px;
                top: 376px;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 22px;
                text-align: center;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #667080;
            }

            #titleConnected2{
                position: absolute;
                width: 418px;
                height: 60px;
                left: 170px;
                top: 469px;
                font-family: 'A-OTF Shin Go Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 60px;
                text-align: center;
                color: #DE0000;
            }

            #descriptionConnected2{
                position: absolute;
                width: 509px;
                height: 41px;
                left: 130px;
                top: 558px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #000000;
            }

                #InstructionsDiv{
                    display: flex;
                    flex-direction: column;
                }

                .Instruction{
                    display: flex;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                }

                    #ClockInstruction{
                        position: absolute;
                        width: 567px;
                        height: 36px;
                        left: 90px;
                        top: 680px;
                        color: #000000;
                    }

                    #ClockIcon{
                        position: absolute;
                        width: 69px;
                        height: 69px;
                        left: 590px;
                        top: 663px;
                    }

                    #ArrowsInstruction{
                        position: absolute;
                        width: 567px;
                        height: 36px;
                        left: 90px;
                        top: 748px;
                        color: #000000;
                    }

                    #ArrowsIcon{
                        position: absolute;
                        width: 60px;
                        height: 24px;
                        left: 590px;
                        top: 754px;
                    }
                    
                    #JumpInstruction{
                        position: absolute;
                        width: 567px;
                        height: 36px;
                        left: 90px;
                        top: 815px;
                        color: #000000;
                    }

                    #JumpIcon{
                        position: absolute;
                        width: 69px;
                        height: 69px;
                        left: 540px;
                        top: 798px;
                    }

    .Shell{
        width: 263px;
    }

    #Shell1{
        position: absolute;
        right: 0;
    }

    #Shell2{
        position: absolute;
        top: 456px;
    }

    #Nubes{
        position: absolute;
        width: 859px;
        bottom: 0px;
    }

/* Game */

    canvas{
        margin: 0 21vw;
        position: relative;
    }

/* Gameover */

    #titleGameover{
        position: absolute;
        width: 700px;
        height: 254px;
        left: 40px;
        top: 180px;
        font-family: 'A-OTF Shin Go Pro';
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        text-align: center;
        color: #DE0000;
    }

        #Stars{
            position: absolute;
            width: 230px;
            height: 88px;
            left: 260px;
            top: 80px;
        }

    #titleGameover2{
        position: absolute;
        width: 139px;
        height: 40px;
        left: 300px;
        top: 386px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 52px;
        text-align: center;
        color: #FE0000;
    }

    #Points{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 392.56px;
        height: 86.12px;
        left: 200px;
        top: 440px;
        font-style: normal;
        font-weight: 600;
        line-height: 110px;
        text-align: center;
    }
                    
        #NumPoints, #TextPoints{
            font-size: 55px;
            font-family: 'A-OTF Shin Go Pro';
            color: #FE0000;
        }

        #Instruction{
            position: absolute;
            width: 413px;
            height: 120px;
            left: 180px;
            top: 626px;
            font-family: 'A-OTF Shin Go Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 60px;
            text-align: center;
            color: #000000;
        }

        #Instruction2{
            position: absolute;
            width: 599px;
            height: 96px;
            left: 95px;
            top: 820px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }

    #CharactersNintendo{
        position: absolute;
        width: 859px;
        bottom: 0;
    }

/* Disconnect */

    #titleDisconnect{
        position: absolute;
        width: 700px;
        height: 254px;
        left: 30px;
        top: 151px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        color: #DE0000;
    }

    #titleDisconnect2{
        position: absolute;
        width: 246px;
        height: 67px;
        left: 250px;
        top: 487px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;
        text-align: center;

        color: #DE0000;
    }

        #Prize{
            box-sizing: border-box;
            position: absolute;
            width: 250px;
            left: 275px;
            top: 567px;
        }

    #InstructionDisconnect{
        position: absolute;
        width: 589px;
        height: 49px;
        left: 85px;
        top: 880px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
    }