/* General */

@font-face {
    font-family: 'MARIO_Font_v3_Solid';
    src: url('./Fonts/MARIO_Font_v3_Solid.otf');
}

.SuperMario256 {
    font-family: 'MARIO_Font_v3_Solid', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter";
}

#Mupi{
    position: relative;
    width: 859px;
    height: 1253px;
    background-color: #C70000;
    margin: auto;
}

#MupiOver{
    position: relative;
    width: 859px;
    height: 1253px;
    background-color: #000000;
    margin: auto;
}

button{
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    position: absolute;
    width: 255.87;
    height: 96.27;
    left: 304px;
    top: 900px;
    background: #7FE06E;
    border-radius: 33.78px;
    color: #FFFFFF;
    font-family: 'A-OTF Shin Go Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    border: none;
    transition-duration: 0.4s;
}

button:hover{
    transition-duration: 0.1s;
    opacity: 0.6;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #7FE06E;
    border-radius: 33.78px;
}

button:active:after {
    box-shadow: 0 0 0 0 #7FE06E;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
    border-radius: 33.78px;
}

/* Screens */

#Home{
    display: none;
}

#Connected{
    display: none;
}

#Instructions{
    display: none;
}

#Game{
    display: none;
}

#Gameover{
    display: none;
}

#QRScreen{
    display: none;
}

#Formulario{
    display: none;
}

#Disconnect{
    display: block;
}

/* Home */

    #SMUpLogo{
        position: absolute;
        width: 13vw;
        left: 4.5vw;
        top: 4.6vh;
    }

    #NubesFront{
        position: absolute;
        width: 446px;
        height: 231px;
        left: 0px;
        top: 1022px;
        z-index: 2;
    }

    #NubesBack{
        position: absolute;
        width: 805px;
        height: 271px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }

    #NintendoLogo{
        position: absolute;
        width: 10.4vw;
        height: auto;
        left: 42vw;
        top: 4.6vh;
    }

    #titleHome{
        color: #E1F3FE;
        font-family: 'MARIO_Font_v3_Solid';
        font-size: 35px;
        font-weight: 700;
        position: absolute;
        width: 398px;
        height: 48px;
        left: 0;
        top: 115vh;
        letter-spacing: 0.2rem;
        text-align: center;
        transform: rotate(-5.43deg);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 4.6vh;
    }

    
    #backgroundImage{
        position: absolute;
        width: 766px;
        height: 559px;
        left: 48px;
        top: 671px;
    }
    
    #GoombaFalling{
        position: absolute;
        width: 13vw;
        height: auto;
        left: 20vw;
        top: 958px;
        z-index: 3;
    }
    
    #MarioFlag{
        position: absolute;
        width: 38vw;
        height: auto;
        right: 1.5vw;
        bottom: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    #LineasFondo{
        width: 859px;
        height: 1253px;
    }

/* Mupi connected / Bienvenida */

        .textScreen{
            display: flex;
            text-align: center;
        }

            #titleBienvenida{
                position: absolute;
                width: 700px;
                height: 90px;
                left: 70px;
                top: 87px;
                font-family: 'MARIO_Font_v3_Solid';
                font-weight: 700;
                font-size: 5.4vw;
                line-height: 80px;
                text-align: center;
                background-image: -webkit-linear-gradient( #FBE883 20%, #F2C700 80%, #EEC300 80%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 5.3px black;
                letter-spacing: -0.18rem;
                
            }

            #viñeta {
                position: absolute;
                width: 707px;
                height: 548.54px;
                right: 5vw;
                top: 294px; 
            }

                #descriptionConnected{
                    position: absolute;
                    width: 504px;
                    height: 22px;
                    left: 146px;
                    top: 47vh;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 39px;
                    text-align: left;
                    letter-spacing: -0.02em;
                    color: #FE5921;
                }

                #descriptionBienvenida{
                    color: #18142B;
                    position: absolute;
                    width: 547px;
                    height: 158px;
                    left: 146px;
                    top: 464px;
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 40px;
                    text-align: left;
                }

                #control{
                    position: absolute;
                    width: 180px;
                    height: auto;
                    right: 7vw;
                    top: 87vh;
                    filter: drop-shadow(3.12329px 3.12329px 4.68493px rgba(0, 0, 0, 0.3));
                    transform: rotate(-25deg);
                }

            #lakitu{
                position: absolute;
                width: 291.13px;
                height: 380.03px;
                right: 2vw;
                bottom: 4vh;
                z-index: 2;
            }

            #gameEjm{
                position: absolute;
                width: 344.84px;
                height: 475.28px;
                left: 146px;
                top: 690px;
            }

    #Nubes{
        position: absolute;
        width: 859px;
        bottom: 0px;
    }

/* Instructions */

#descriptionInstructions{
    color: #000000;
    position: absolute;
    width: 620px;
    height: 117px;
    left: 125px;
    top: 340px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    z-index: 1;
}

span { font-weight: 700; color: #FF5C00} 

#InstImg{
    position: absolute;
    width: 581px;
    height: 255px;
    left: 112px;
    top: 490px;
    z-index: 1;
}

/* Game */

    canvas{
        margin: 0 21vw;
        position: relative;
    }

/* Gameover */

#LineasNegro{
    width: 859px;
    height: 1253px;
}

.MupiGameOver{
    color: #000000;
}

    #titleGameover{
        position: absolute;
        text-align: center;
        width: 700px;
        height: 254px;
        left: 0;
        top: -35vh;
        font-family: 'MARIO_Font_v3_Solid';
        font-weight: 700;
        font-size: 5.4vw;
        line-height: 80px;
        text-align: center;
        color: #970202;
        text-shadow: 
            -7px -7px 0 #fff,
            7px -7px 0 #fff,
            -7px 7px 0 #fff,
            7px 7px 0 #fff;
        letter-spacing: -0.18rem;
    }

    #ModalOver {
        position: absolute;
        width: 707px;
        height: 617px;
        left: 78px;
        top: 328px;
        background: #F7F9F8;
        border: 4px solid #FFA800;
        border-radius: 24px;
    }

    #titleGameover2{
        position: absolute;
        width: 350px;
        height: fit-content;
        left: 180px;
        top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #000000;
    }

    #Points{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 392.56px;
        height: 86.12px;
        left: 140px;
        top: 100px;
        font-family: 'MARIO_Font_v3_Solid';
        font-weight: 600;
        line-height: 110px;
        text-align: center;
    }
                    
        #NumPoints, #TextPoints{
            font-size: 55px;
            font-family: 'MARIO_Font_v3_Solid';
            color: #FFFFFF;
            -webkit-text-stroke: 4px black;
            letter-spacing: -0.18rem;
        }

        #Instruction{
            position: absolute;
            width: 380px;
            height: fit-content;
            left: 152px;
            top: 265px;
            font-weight: 800;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            color: #000000;
        }

        #Instruction2{
            position: absolute;
            width: 599px;
            height: 96px;
            left: 50px;
            top: 420px;
            font-weight: 600;
            font-size: 23px;
            line-height: 30px;
            text-align: center;
            color: #000000;
        }

    #MarioHappy{
        position: absolute;
        width: 218px;
        bottom: 0;
        left: 319px;
    }

/*QRScreen*/

#QR{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    position: absolute;
    width: 380px;
    height: 380px;
    left: 239px;
    top: 317px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    z-index: 1;
}

#JoinExperience{
    position: absolute;
    width: 580px;
    height: 150px;
    left: 139px;
    top: 105vh;
}

/* Formulario */
#AlmostDone{
    position: absolute;
    width: 800px;
    height: auto;
    left: 35px;
    top: 65px;
    align-items: center;
}

#FillData{
    position: absolute;
    width: 450px;
    height: auto;
    left: 200px;
    top: 1090px;
    z-index: 1;
}

#SM{
    position: absolute;
    width: 484px;
    height: 667px;
    left: 209px;
    top: 323px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Disconnect */

    #titleDisconnect{
            position: absolute;
            width: 700px;
            height: 90px;
            left: 0px;
            top: -220px;
            font-family: 'MARIO_Font_v3_Solid';
            font-weight: 700;
            font-size: 5.4vw;
            line-height: 80px;
            text-align: center;
            background-image: -webkit-linear-gradient( #FBE883 20%, #F2C700 80%, #EEC300 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 5.3px black;
            letter-spacing: -0.18rem;
    }

    #ModalDisconnect {
        position: absolute;
        width: 707px;
        height: 617px;
        left: 78px;
        top: 328px;
        background: #F7F9F8;
        border: 4px solid #FFA800;
        border-radius: 24px;
    }

    #titleDisconnect2{
        position: absolute;
        width: 350px;
        height: fit-content;
        left: 180px;
        top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #000000;
    }

        #Prize{
            box-sizing: border-box;
            position: absolute;
            width: 250px;
            left: 275px;
            top: 567px;
        }

    #InstructionDisconnect{
        position: absolute;
        width: 380px;
        height: fit-content;
        left: 152px;
        top: 375px;
        font-weight: 800;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: #000000;
    }

    #InstructionDisconnect2{
        position: absolute;
        width: 550px;
        height: 96px;
        left: 75px;
        top: 465px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    #MarioStar{
        position: absolute;
        width: 300px;
        height: auto;
        left: 300px;
        bottom: 0;
    }

