* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

#Mupi{
    position: relative;
    width: 859px;
    height: 1253px;
    background-color: #DE0000;
    margin: auto;
}

#Modal{
    position: absolute;
    width: 754px;
    height: 1146px;
    left: 52px;
    top: 54px;
    opacity: 0.95;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .textScreen{
        display: flex;
        justify-content: center;
    }

        #title{
            position: absolute;
            width: 700px;
            height: 254px;
            left: 30px;
            top: 151px;
            font-family: 'A-OTF Shin Go Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 80px;
            line-height: 80px;
            text-align: center;
            color: #DE0000;
        }

        #title2{
            position: absolute;
            width: 246px;
            height: 67px;
            left: 260px;
            top: 487px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            text-align: center;

            color: #DE0000;
        }

            #Prize{
                box-sizing: border-box;
                position: absolute;
                width: 300px;
                left: 235px;
                top: 587px;
            }

        #Instruction{
            position: absolute;
            width: 589px;
            height: 49px;
            left: 85px;
            top: 880px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }

    button{
        justify-content: center;
        align-items: center;
        padding: 13px 24px;
        gap: 10px;
        position: absolute;
        left: 160px;
        top: 950px;
        border: 6px solid #DE0000;
        border-radius: 6px;
        color: #DE0000;
        width: 445px;
        height: 79px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        transition-duration: 0.4s;
    }

    button:hover{
        transition-duration: 0.1s;
        opacity: 0.6;
    }

    button:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 5px 20px #DE0000;
        border-radius: 6px;
      }
      
    button:active:after {
        box-shadow: 0 0 0 0 #DE0000;
        position: absolute;
        left: 0;
        top:0;
        opacity: 1;
        transition: 0s;  
        border-radius: 6px;
    }

#Nubes{
    position: absolute;
    width: 859px;
}

#CharactersNintendo{
    position: absolute;
    width: 859px;
    bottom: 0;
}