/* General */

@font-face {
    font-family: 'MARIO_Font_v3_Solid';
    src: url('./Fonts/MARIO_Font_v3_Solid.otf');
}

.SuperMario256 {
    font-family: 'MARIO_Font_v3_Solid', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

/* Screens */

#Gameover{
    display: none;
}
#Form{
    display: block;
}

#Disconnect{
    display: none;
}

#Phone{
    position: relative;
    width: 390px;
    height: 844px;
    background-color: rgba(0, 0, 0);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rayasNegras{
    position: absolute;
    width: 390px;
    height: 844px;
    left: 0;
    top: 0;
}

button{
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    position: absolute;
    width: 154.87px;
    height: 58.27px;
    left: 117px;
    top: 715px;
    background: #7FE06E;
    border-radius: 33.78px;
    color: #FFFFFF;
    font-family: 'A-OTF Shin Go Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    border: none;
    transition-duration: 0.4s;
    z-index: 1;
}

button:hover{
    transition-duration: 0.1s;
    opacity: 0.6;
}

button:enabled{
    background: #05d319;
}

button:disabled{
    opacity: 0.6;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #7FE06E;
    border-radius: 33.78px;
}

button:active:after {
    box-shadow: 0 0 0 0 #7FE06E;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
    border-radius: 33.78px;
}

button:disabled:active{
    animation: shake 1s;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
    transform: translate3d(-10px, 0, 0);
    }
    20%, 80% {
    transform: translate3d(10px, 0, 0);
    }
    30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
    }
    40%, 60% {
    transform: translate3d(10x, 0, 0);
    }
}

button:enabled:active:after {
    box-shadow: 0 0 0 0 #46ba32;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
    border-radius: 6px;
}


/* General */
    .textScreen{
        display: flex;
        justify-content: center;
    }

        #title{
            position: absolute;
            width: 239px;
            height: 120px;
            left: 76px;
            top: 89px;

            font-family: 'MARIO_Font_v3_Solid';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 31px;
            text-align: center;
            background-image: -webkit-linear-gradient( #FBE883 20%, #F2C700 80%, #EEC300 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.3px black;
            letter-spacing: -0.025em;
        }

/* Form */

    #InstructionForm{
        position: absolute;
        width: 350px;
        height: 120px;
        left: 20px;
        top: 60px;

        font-family: 'MARIO_Font_v3_Solid';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 31px;
        text-align: center;
        background-image: -webkit-linear-gradient( #FBE883 20%, #F2C700 80%, #EEC300 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.3px black;
        letter-spacing: -0.025em;
    }

    #descriptionForm{
        position: absolute;
        width: 312px;
        height: 30px;
        left: 38px;
        top: 162px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        letter-spacing: -0.02em;
        font-feature-settings: 'calt' off;
        color: #eeeeee;
    }

    #InputsDiv{
        position: absolute;
        width: 309px;
        height: 220.05px;
        left: 40px;
        top: 0;
    }

        #NameInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 230px;
        }

            #nameLabel{
                width: 40px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #eeeeee;
            }

            #nameBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }

        #EmailInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 306.92px;
        }

            #emailLabel{
                width: 43px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #eeeeee;
                top: 10px;
            }

            #emailBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }

        #NumberInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 383.83px;
        }

            #numberLabel{
                width: 150px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #eeeeee;
            }

            #numberBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }
        
    #LittleWord{
        position: absolute;
        width: 309px;
        height: 28px;
        left: 0;
        top: 463px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 9.36364px;
        line-height: 14px;
        color: #ff7c7c;
    }

    #checkbox{
        position: absolute;
        width: 309px;
        height: 82px;
        left: 40px;
        top: 530px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 15px;
        color: #eeeeee;
    }

/* Disconnect */

    #titleDisconnect2{
        position: absolute;
        width: 174px;
        height: 42px;
        left: 109px;
        top: 280px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #eeeeee;
    }

    #Prize{
        position: absolute;
        width: 180px;
        left: 110px;
        top: 370px;
    }

    #PrizeDesc{
        position: absolute;
        width: 180px;
        left: 105px;
        top: 580px;
        font-family: 'Poppins';
        text-align: center;
    }

    #Code{
        font-family: 'Poppins';
        font-size: 12px;
        left: 135px;
        margin-top: 470px;
    }

    #DisconnectBTN{
        width: 199px;
        height: 58.27px;
        left: 96px;
        top: 705px;
        opacity: 1;
    }
