/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

#Phone{
    position: relative;
    width: 390px;
    height: 844px;
    background-color: rgba(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    gap: 10px;
    position: absolute;
    width: 229px;
    height: 72px;
    left: 81px;
    top: 700px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'A-OTF Shin Go Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border: none;
    transition-duration: 0.4s;
}

button:hover{
    transition-duration: 0.1s;
    opacity: 0.6;
}

    button:enabled{
        background: #DE0000;
    }

    button:enabled:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px #DE0000;
        border-radius: 6px;
    }

    button:enabled:active:after {
        box-shadow: 0 0 0 0 #DE0000;
        position: absolute;
        left: 0;
        top:0;
        opacity: 1;
        transition: 0s;
        border-radius: 6px;
    }

        button:disabled{
            background: #a1a1a1;
        }

        button:disabled:active{
            animation: shake 1s;
            transform: translate3d(0, 0, 0);
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
            transform: translate3d(-10px, 0, 0);
            }
            20%, 80% {
            transform: translate3d(10px, 0, 0);
            }
            30%, 50%, 70% {
            transform: translate3d(-10px, 0, 0);
            }
            40%, 60% {
            transform: translate3d(10x, 0, 0);
            }
        }

/* Screens */

#Connected{
    display: block;
}

#Controller{
    display: none;
}

#Gameover{
    display: none;
}

#Form{
    display: none;
}

#Disconnect{
    display: none;
}

/* Connected */
    .textScreen{
        display: flex;
        justify-content: center;
    }

        #title{
            position: absolute;
            width: 359px;
            height: 161px;
            left: 10px;
            top: 124px;
            font-family: 'A-OTF Shin Go Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
            text-align: center;
            color: #DE0000;
        }
            #CheckIcon{
                position: absolute;
                width: 32px;
                height: 32px;
                left: 312px;
                top: 137px;
            }

        #description{
            position: absolute;
            width: 312px;
            height: 60px;
            left: 38px;
            top: 225px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #667080;
        }

            #TiltIcon{
                position: absolute;
                width: 177px;
                height: 166px;
                left: 104px;
                top: 429px;
            }
    
    #Shell1{
        position: absolute;
        width: 130px;
        right: 0px;
        top: -36px;
        right: 0;
    }

    #Shell2{
        position: absolute;
        width: 72px;
        left: 0px;
        top: 22px;
        transform:matrix(-1)
    }

/* Controller */

    canvas{
        margin: 0, 122;
    }

    #JumpButton{
        position: absolute;
        width: 283.03px;
        height: 283.03px;
        left: 61px;
        top: 53px;
        z-index: 20;
    }

    #LeftButton{
        position: absolute;
        width: 85.94px;
        height: 147.8px;
        left: 454px;
        top: 120.96px;
        z-index: 20;
    }

    #RightButton{
        position: absolute;
        width: 85.96px;
        height: 147.82px;
        left: 658.08px;
        top: 120.96px;
        z-index: 20;
    }

/* Gameover */

    #titleGameover{
        position: absolute;
        width: 359px;
        height: 63px;
        left: 16px;
        top: 93px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #DE0000;
    }

        #Stars{
            position: absolute;
            width: 138.52px;
            height: 53px;
            left: 126px;
            top: 210px;
        }
    
    #titleGameover2{
        position: absolute;
        width: 92px;
        height: 36px;
        left: 149px;
        top: 290px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #DE0000;
    }

    #Points{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 280px;
        height: 77px;
        left: 60px;
        top: 316px;
        font-style: normal;
        font-weight: 600;
        line-height: 96px;
        text-align: center;
        color: #DE0000;
    }

        #NumPoints, #TextPoints{
            font-size: 40px;
            font-family: 'A-OTF Shin Go Pro';
        }

    #Instruction{
        position: absolute;
        width: 294px;
        height: 80px;
        left: 48px;
        top: 528px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        color: #000000;
    }

/* Form */

    #InstructionForm{
        position: absolute;
        width: 294px;
        height: 80px;
        left: 48px;
        top: 56px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #DE0000;
    }

    #descriptionForm{
        position: absolute;
        width: 312px;
        height: 30px;
        left: 38px;
        top: 162px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.02em;
        font-feature-settings: 'calt' off;
        color: #667080;
    }

    #InputsDiv{
        position: absolute;
        width: 309px;
        height: 220.05px;
        left: 40px;
        top: 0;
    }

        #NameInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 230px;
        }

            #nameLabel{
                width: 40px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #6A6A6A;
            }

            #nameBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }

        #EmailInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 306.92px;
        }

            #emailLabel{
                width: 43px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #6A6A6A;
                top: 10px;
            }

            #emailBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }

        #NumberInput{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0px;
            gap: 2.68px;
            position: absolute;
            width: 309px;
            height: 66.21px;
            left: 0;
            top: 383.83px;
        }

            #numberLabel{
                width: 96px;
                height: 15px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13.3766px;
                line-height: 15px;
                letter-spacing: -0.02em;
                font-feature-settings: 'calt' off;
                color: #6A6A6A;
            }

            #numberBox{
                box-sizing: border-box;
                width: 309px;
                height: 32.1px;
                background: #FFFFFF;
                border: 0.668831px solid #6A6A6A;
                border-radius: 4.01299px;
            }
        
    #LittleWord{
        position: absolute;
        width: 309px;
        height: 28px;
        left: 0;
        top: 463px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 9.36364px;
        line-height: 14px;
        color: #6A6A6A;
    }

    #checkbox{
        position: absolute;
        width: 309px;
        height: 82px;
        left: 40px;
        top: 557px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #6A6A6A;
    }

/* Disconnect */

    #titleDisconnect2{
        position: absolute;
        width: 119px;
        height: 42px;
        left: 135px;
        top: 309px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #000000;
    }

    #Prize{
        position: absolute;
        width: 180px;
        left: 110px;
        top: 370px;
    }

    #PrizeDesc{
        position: absolute;
        width: 180px;
        left: 105px;
        top: 580px;
        font-family: 'Poppins';
        text-align: center;
    }

    #Code{
        font-family: 'Poppins';
        font-size: 12px;
        left: 135px;
        margin-top: 470px;
    }