* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

#Mupi{
    position: relative;
    width: 859px;
    height: 1253px;
    background-color: #DE0000;
    margin: auto;
}

#Modal{
    position: absolute;
    width: 754px;
    height: 1146px;
    left: 52px;
    top: 54px;
    opacity: 0.95;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .textScreen{
        display: flex;
        justify-content: center;
    }

        #title{
            position: absolute;
            width: 700px;
            height: 254px;
            left: 40px;
            top: 180px;
            font-family: 'A-OTF Shin Go Pro';
            font-weight: 600;
            font-size: 64px;
            line-height: 80px;
            text-align: center;
            color: #DE0000;
        }

            #Stars{
                position: absolute;
                width: 230px;
                height: 88px;
                left: 260px;
                top: 80px;
            }

        #title2{
            position: absolute;
            width: 139px;
            height: 40px;
            left: 320px;
            top: 386px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 52px;
            text-align: center;
            color: #FE0000;
        }

        #Points{
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 392.56px;
            height: 86.12px;
            left: 200px;
            top: 440px;
            font-style: normal;
            font-weight: 600;
            line-height: 110px;
            text-align: center;
            color: #FE0000;
        }
            #NumPoints, #TextPoints{
                font-size: 55px;
                font-family: 'A-OTF Shin Go Pro';
            }

            #Instruction{
                position: absolute;
                width: 413px;
                height: 120px;
                left: 180px;
                top: 626px;
                font-family: 'A-OTF Shin Go Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 60px;
                text-align: center;
                color: #000000;
            }

            #Instruction2{
                position: absolute;
                width: 599px;
                height: 96px;
                left: 95px;
                top: 820px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #000000;
            }

    button{
        justify-content: center;
        align-items: center;
        padding: 13px 24px;
        gap: 10px;
        position: absolute;
        left: 160px;
        top: 950px;
        border: 6px solid #DE0000;
        border-radius: 6px;
        color: #DE0000;
        width: 445px;
        height: 79px;
        font-family: 'A-OTF Shin Go Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        transition-duration: 0.4s;
    }

    button:hover{
        transition-duration: 0.1s;
        opacity: 0.6;
    }

    button:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 5px 20px #DE0000;
        border-radius: 6px;
      }
      
    button:active:after {
        box-shadow: 0 0 0 0 #DE0000;
        position: absolute;
        left: 0;
        top:0;
        opacity: 1;
        transition: 0s;
        border-radius: 6px;
    }

#Nubes{
    position: absolute;
    width: 859px;
}

#CharactersNintendo{
    position: absolute;
    width: 859px;
    bottom: 0;
}